<%- include('../components/head.ejs'); %>

<%- include('../components/header.ejs'); %>


<!-- create a content(table) on /book-list. It does not have icon or click button but it has specific page with correct web-address-->

<main class="container">
    <br>
    <h1><%= title %></h1>
    <br>
    <% if(typeof displayName == 'string' && displayName) { %> 
    <a href="/business-contact/add" class="btn btn-primary" role="button">
    <i class = "fas fa-plus-circle"></i> Add a contact</a>
    <% } %>
    <br><br>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col1">#</th>
                        <th scope="col2">Name</th>
                        <th scope="col3">Phone Number</th>
                        <th scope="col4">Email Address</th>
                        
                        <% if(typeof displayName == 'string' && displayName) { %> 
                            <th scope="col5"></th>
                            <th scope="col6"></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for(let count =0; count< ContactList.length; count++) { %>
                        <tr>
                            <th scope="row"> <%= count +1 %></th>                        
                            <td><%= ContactList[count].name %></td>
                            <td><%= ContactList[count].number %></td>
                            <td><%= ContactList[count].email %></td>

                            <% if(typeof displayName == 'string' && displayName) { %>
                            <td scope="col5">
                                <a href="/business-contact/edit/<%= ContactList[count]._id %>" class="btn btn-secondary btn-sm">
                                <i class="fas fa-pencil-alt"></i>   Update</a>
                            </td>
                            <td scope="col6">
                                <a href="/business-contact/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>   Delete</a>
                            </td>
                            <% } %>
                        </tr>                      
                    <%} %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('../components/footer.ejs'); %>


<%- include('../components/script.ejs'); %>